target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store
*.log
*.class
.settings/
.project
.classpath
spring.out
users.json
node_modules/

